
    <div class="container-fluid">
        <div class="row">

            <!-- Brand and toggle get grouped for better mobile display -->

            <div class="col-sm-4 col-md-4">
                <div class="navbar-header">
                    <!--<a class="logo navbar-brand" href="#">metalsella</a>-->
                  <!-- <a class="logo navbar-brand" href="#"><img src="img/logoWebWhite.png" class="logoimg"></a>-->
                   <!-- <a class="logo navbar-brand" href="#"><img src="img/logoWeb.png" class="logoimg"></a>-->
                   <%= render 'template/logo' %>
                </div>
            </div>

            <div class="col-sm-4 col-md-4">
                <ol class="top-center-contact inline list-unstyled">
                    <li class="text-center phone-top"><i class="fa fa-phone fa-2x"></i><p>985 860 555</p></li>
                    <li class="text-center phone-top"><i class="fa fa-mobile fa-2x"></i><p>&nbsp;659 934 428</p></li>
                </ol>
            </div>

            <div class="col-sm-4 col-md-4">
                        <ol class="top-right-contact inline list-unstyled">
                            <li class="text-center right-icons"><a href=""><p>te llamamos GRATIS</p> <i class="fa fa-phone-square fa-2x"></i></a></li>
                            <li class="text-center right-icons"><a href=""><i class="fa fa-pencil-square fa-2x"></i><p>solicita presupuesto</p></a></li>
                        </ol>
            </div>

        </div>
    </div>
