<div class="page-header clearfix">
<div class="title">
	<h1>Editando Imagenes</h1>
</div>
<hr />
<%= render :partial => 'super_admin/template/form_errors', :object => @webimage %>

<%= simple_form_for @webimage, :url => url_for(:controller => 'super_admin/webimages', :action => 'update'), :method => 'put', :html => { :role => "form" } do |form| %>
	<%= render :partial => "form_for_#{@webimage.form_title}", :locals => { :form => form } rescue render :partial => "form", :object => form %>
<% end %>
