<div class="banner clearfix">

				<!-- slideshow start -->
				<!-- ================ -->
				<div class="slideshow">
					
					<!-- slider revolution start -->
					<!-- ================ -->
					<div class="slider-banner-container">
						<div class="slider-banner-fullscreen">
							<ul class="slides">
								<!-- slide 1 start -->
								<!-- ================ -->
								<li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Bicicletea, tu tienda">
								
								<!-- main image -->
								<%= image_tag 'bici3.jpg', :alt =>"slidebg1", :data =>{"bgfit" => "cover", "bgposition" => "center top", "bgrepeat" => "no-repeat"} %>
								
								
								<!-- Transparent Background -->
								<div class="tp-caption dark-translucent-bg"
									data-x="center"
									data-y="bottom"
									data-speed="500"
									data-easing="easeOutQuad"
									data-start="0">
								</div>

								<!-- LAYER NR. 1 -->
								<div class="tp-caption sfr stl xlarge_white"
									data-x="center"
									data-y="120"
									data-speed="200"
									data-easing="easeOutQuad"
									data-start="1000"
									data-end="2500"
									data-splitin="chars"
									data-elementdelay="0.1"
									data-endelementdelay="0.1"
									data-splitout="chars">Experiencia
								</div>

								<!-- LAYER NR. 2 -->
								<div class="tp-caption sfl str xlarge_white"
									data-x="center"
									data-y="120"
									data-speed="200"
									data-easing="easeOutQuad"
									data-start="2500"
									data-end="6000"
									data-splitin="chars"
									data-elementdelay="0.1"
									data-endelementdelay="0.1"
									data-splitout="chars">Profesionalidad
								</div>

								<!-- LAYER NR. 3 -->
								<div class="tp-caption sfr stt xlarge_white"
									data-x="center"
									data-y="120"
									data-speed="200"
									data-easing="easeOutQuad"
									data-start="6000"
									data-end="8000"
									data-splitin="chars"
									data-elementdelay="0.1"
									data-endelementdelay="0.1"
									data-splitout="chars"
									data-endspeed="400">Éxito
								</div>					

								<!-- LAYER NR. 4 -->
								<div class="tp-caption sft fadeout text-center large_white"
									data-x="center"
									data-y="120"
									data-speed="500"
									data-easing="easeOutQuad"
									data-start="8400"
									data-end="18000">Bicicletea <br> Tu Tienda en Zaragoza
								</div>	

								<!-- LAYER NR. 5 -->
								<div class="tp-caption sfr fadeout"
									data-x="center"
									data-y="260"
									data-hoffset="-232"
									data-speed="500"
									data-easing="easeOutQuad"
									data-start="1000"
									data-end="7500"><span class="icon large circle"><i class="circle icon-cog-outline"></i></span>
								</div>

								<!-- LAYER NR. 6 -->
								<div class="tp-caption sfl fadeout"
									data-x="center"
									data-y="260"
									data-speed="500"
									data-easing="easeOutQuad"
									data-start="2500"
									data-end="7500"><span class="icon large circle"><i class="circle icon-thumbs-up"></i></span>
								</div>

								<!-- LAYER NR. 7 -->
								<div class="tp-caption sfr fadeout"
									data-x="center"
									data-y="260"
									data-hoffset="232"
									data-speed="500"
									data-easing="easeOutQuad"
									data-start="6000"
									data-end="7500"><span class="icon large circle"><i class="circle fa fa-line-chart"></i></span>
								</div>

								<!-- LAYER NR. 8 -->
								<div class="tp-caption ZoomIn fadeout text-center tp-resizeme large_white"
									data-x="center"
									data-y="220"
									data-speed="500"
									data-easing="easeOutQuad"
									data-start="8400"
									data-end="18000"><div class="separator light"></div>
								</div>	

								<!-- LAYER NR. 9 -->
								<div class="tp-caption sft fadeout medium_white text-center"
									data-x="center"
									data-y="260"
									data-speed="500"
									data-easing="easeOutQuad"
									data-start="8800"
									data-end="18000"
									data-endspeed="600">Las marcas más punteras. <br> Te asesoramos a escoger y te aconsejamos con el mantenimiento<br> ¡Ven a conocernos en persona! ;)
								</div>

								<!-- LAYER NR. 10 -->
								<div class="tp-caption fade fadeout"
									data-x="center"
									data-y="bottom"
									data-voffset="100"
									data-speed="500"
									data-easing="easeOutQuad"
									data-start="2000"
									data-end="18000"
									data-endspeed="200">
									<a href="#page-start" class="btn btn-lg moving smooth-scroll"><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i class="icon-down-open-big"></i></a>
								</div>
								</li>
								<!-- slide 1 end -->

								<!-- slide 2 start -->
								<!-- ================ -->
								<li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Bicicletas para todos">
								
								<!-- main image -->
								<%= image_tag 'bicicletea_difuminado.jpg', :alt =>"slidebg2", :data =>{"bgfit" => "cover", "bgposition" => "50% 20%", "bgrepeat" => "no-repeat"} %>

								<!-- Transparent Background -->
								<div class="tp-caption dark-translucent-bg"
									data-x="center"
									data-y="bottom"
									data-speed="500"
									data-easing="easeOutQuad"
									data-start="0">
								</div>

								<!-- LAYER NR. 1 -->
								<div class="tp-caption sfb fadeout large_white"
									data-x="left"
									data-y="120"
									data-speed="500"
									data-start="1000"
									data-easing="easeOutQuad"
									data-end="10000"><span class="logo-font">Bicicletea</span> <br> Bicicletas para todos
								</div>	

								<!-- LAYER NR. 2 -->
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="250" 
									data-speed="500"
									data-start="1300"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-code-fork"></i></span><span class="text">Eléctricas y de paseo</span>
								</div>

								<!-- LAYER NR. 3 -->
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="310" 
									data-speed="500"
									data-start="1600"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-tree"></i></span><span class="text">Mountain Bike</span>
								</div>

								<!-- LAYER NR. 4 -->
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="370" 
									data-speed="500"
									data-start="1900"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-road"></i></span><span class="text"> De Carretera</span>
								</div>

								<!-- LAYER NR. 5 -->
								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="430" 
									data-speed="500"
									data-start="2200"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-child"></i></span><span class="text"> Infantiles</span>
								</div>

								<div class="tp-caption sfb fadeout text-left medium_white"
									data-x="left"
									data-y="490" 
									data-speed="500"
									data-start="2500"
									data-easing="easeOutQuad"
									data-endspeed="600"><span class="icon default-bg circle small hidden-xs"><i class="fa fa-plus"></i></span><span class="text"> Y más...</span>
								</div>

								<!-- LAYER NR. 6 -->
								<!--<div class="tp-caption sfb fadeout small_white"
									data-x="left"
									data-y="560"
									data-speed="500"
									data-start="2500"
									data-easing="easeOutQuad"
									data-endspeed="600"><a href="#" class="btn btn-default btn-lg btn-animated">Saber más <i class="fa fa-arrow-right pl-20"></i></a>
								</div>-->
								</li>
								<!-- slide 2 end -->
							</ul>
							<div class="tp-bannertimer"></div>
						</div>
					</div>
					<!-- slider revolution end -->

				</div>
				<!-- slideshow end -->

			</div>