<section class="light-gray-bg pv-30 clearfix">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h2 class="text-center">Te <strong>Ofrecemos...</strong></h2>
							<div class="separator"></div>
							<p class="large text-center">Entre otros muchos servicios, en Bicicletea te ofrecemos una serie de productos para disfrutar a tope de este deporte, tanto para aficionados como profesionales.</p>
						</div>
						<div class="col-md-4 ">
							<div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
								<span class="icon default-bg circle"><i class="fa fa-dashboard"></i></span>
								<h3>Equipamiento</h3>
								<div class="separator clearfix"></div>
								<p>Gafas, zapatillas, sillines, ruedas y, sobre todo, estupendas bicicletas... Todo lo necesario para ir a tu ritmo y disfrutar de tu aficción.</p>
								<a href="page-services.html">Saber más <i class="pl-5 fa fa-angle-double-right"></i></a>
							</div>
						</div>
						<div class="col-md-4 ">
							<div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
								<span class="icon default-bg circle"><i class="fa fa-bicycle"></i></span>
								<h3>Alquiler</h3>
								<div class="separator clearfix"></div>
								<p>¿No te animas a comprarte un equipo? No te preocupes, en Bicicletea te ofrecemos unos precios de alquiler que te encantarán</p>
								<a href="page-services.html">Saber más <i class="pl-5 fa fa-angle-double-right"></i></a>
							</div>
						</div>
						<div class="col-md-4 ">
							<div class="pv-30 ph-20 feature-box bordered shadow text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
								<span class="icon default-bg circle"><i class="fa icon-graduation-cap"></i></span>
								<h3>Eventos y Cursos</h3>
								<div class="separator clearfix"></div>
								<p>Organizamos atractivos eventos periódicamente y ofrecemos cursos para avanzar en el desarollo de tu pasión por el ciclismo</p>
								<a href="page-services.html">Saber más <i class="pl-5 fa fa-angle-double-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</section>