      <div class="banner dark-translucent-bg contactar">
        <!-- breadcrumb start -->
        <!-- ================ -->
        <div class="breadcrumb-container">
          <div class="container">
            <ol class="breadcrumb">
              <li><i class="fa fa-home pr-10"></i><a class="link-dark" href="index.html">Home</a></li>
              <li class="active">Page Contact</li>
            </ol>
          </div>
        </div>
        <!-- breadcrumb end -->
        <div class="container">
          <div class="row">
            <div class="col-md-8 text-center col-md-offset-2 pv-20">
              <h2 class="title">Ponte en contacto con nosotros</h2>
              <div class="separator mt-10"></div>
              <p class="text-center">Estaremos encantados de ayudarte en cualquier tema relacionado con el apasionante mundo de la biclicleta.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- banner end -->

      <!-- main-container start -->
      <!-- ================ -->
      <section class="main-container">

        <div class="container">
          <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-8 space-bottom">
              <p class="lead">¡Sería estupendo saber algo de ti! Solo tienes que preguntarnos sobre cualquier cosa en la que crees que te podemos resultar útiles. Te responderemos enseguida.</p>
              <div class="alert alert-success hidden" id="MessageSent">
                Hemos recibido tu mensaje.
              </div>
              <div class="alert alert-danger hidden" id="MessageNotSent">
                Oops! Something went wrong please refresh the page and try again.
              </div>
              <div class="contact-form">
                <%= simple_form_for @contact, :html => {:class => 'maring-clear', :id => "contact-form", :name => "sentMessage", :role => "form" } do |f| %>
                <form id="contact-form" class="margin-clear" role="form">
                  <div class="form-group has-feedback">
                    <label for="name">Nombre*</label>
                    <%= f.input :name, label: false, placeholder: 'Nombre', :required => true, error: 'Nombre es obligatorio, por favor escribe uno' %>           
                    <i class="fa fa-user form-control-feedback"></i>
                    <p class="help-block text-danger"></p>
                  </div>
                  <div class="form-group has-feedback">
                    <label for="email">Email*</label>
                    <%= f.input :email, label: false, placeholder: 'Email', :required => true, error: 'Email es obligatorio, por favor escribe uno' %>
                    <i class="fa fa-envelope form-control-feedback"></i>
                    <p class="help-block text-danger"></p>
                  </div>                  
                  <div class="form-group has-feedback">
                    <label for="message">Mensaje*</label>
                    <%= f.input :message, :as => :text, label: false, placeholder: 'Por favor redacte su mensaje', :required => true, error: 'El mensaje es obligatorio, por favor escribe uno', :input_html => { class: 'test', :cols => 5, :rows => 6 } %>
                    <i class="fa fa-pencil form-control-feedback"></i>
                  </div>
                  <input type="submit" value="Enviar" class="submit-button btn btn-default">
                <% end %>
              </div>
            </div>
            <!-- main end -->

            <!-- sidebar start -->
            <!-- ================ -->
            <aside class="col-md-3 col-lg-offset-1">
              <div class="sidebar">
                <div class="side vertical-divider-left">
                  <h3 class="title logo-font"><span class="text-default">Bicicletea</span></h3>
                  <div class="separator-2 mt-20"></div>
                  <ul class="list">
                    <li><i class="fa fa-home pr-10"></i>El Maquinista de la General, 1 <br><span class="pl-20">50019 Zaragoza</span></li>
                    <li><i class="fa fa-phone pr-10"></i><abbr title="Phone">T:</abbr> 976 93 37 27</li>
                    <li><i class="fa fa-mobile pr-10 pl-5"></i><abbr title="Phone">M:</abbr> (123) 456-7890</li>
                    <li><i class="fa fa-envelope pr-10"></i><a href="mailto:bicicleteavaldespartera@gmail.com">bicicleteavaldespartera@gmail.com</a></li>
                  </ul>
                  <ul class="social-links circle small margin-clear clearfix animated-effect-1">
                    <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                    <li class="instagram"><a target="_blank" href="http://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
                  </ul>
                  <div class="separator-2 mt-20 "></div>
                  <a class="btn btn-gray collapsed map-show btn-animated" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap">Mostrar mapa<i class="fa fa-plus"></i></a>
                </div>
              </div>
            </aside>
            <!-- sidebar end -->
          </div>
        </div>
      </section>
      <!-- main-container end -->

      <!-- section start -->
      <!-- ================ -->
      <section id="collapseMap">
        <div id="map-canvas"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2982.5656250028514!2d-0.9178586843388377!3d41.62190388938628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd596ac605292bfb%3A0xedc3ede826474aec!2sBicicletea!5e0!3m2!1ses!2ses!4v1459785894663" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe></div>
      </section>
      <!-- section end -->

      
