<div class="row">
	<div class="col-sm-12">

		<%= f.input :title %>
		<%= f.input :description, as: :textile_editor %>
		<hr />
	</div>
</div>

<hr />
<div class="form-actions">
  <% label = @project_type.new_record? ? "Crear" : "Actualizar" -%>
  <%= f.submit label, :class => 'btn btn-primary' %>
  &nbsp;
  <%= link_to "cancelar", super_admin_project_types_path, :class => 'btn btn-default' %>
</div>
