<% for @project_type in @project_types %>
	<div class="module_item">
		<div class="item_name">
			<span><%= link_to @project_type.title, :controller => 'super_admin/project_types', :action => 'edit', :id => @project_type.id%></span>
		</div>
		<div class="module_item_actions">
			<p>
				<%= link_to '<span class="glyphicon glyphicon-file"></span>'.html_safe, super_admin_project_type_path(@project_type.id), :class => 'list-row-action-wrapper-link' %>
 			  <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_super_admin_project_type_path(@project_type.id), :class => 'list-row-action-wrapper-link' %>
				<%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, super_admin_project_type_path(@project_type.id), :class => 'list-row-action-delete-one list-row-action-wrapper-link', :method => :delete, :data => {:confirm => "Estas seguro?"} %>
			</p>
		</div>
		<div class="clearboth"></div>
	</div>
<% end %>
