<div class="item"><!-- Portfolio Item #1 -->
  <div class="hover-bg">
    <div class="hover-text off">
      <h4>Estructuras</h4>
      <br>
      <p>Vivamus aliquet rutrum dui a varius. Mauris ornare tortor in eleifend blanditullam ut ligula et neque.  </p>
      <a class="read-more" href="single-project.html">Ver Trabajo <span class="fa fa-chevron-circle-right"></span></a>
    </div>
    <%= image_tag project.image.url(:featured), :class => 'img-responsive' %>
  </div>
</div>
