<div class="sidebar-widget archives">
  <div class="widget-title text-left">
    <h4>Archivo</h4>
    <hr>
  </div>

  <ul class="list-unstyled list-block">
    <li><i class="fa fa-angle-double-right"></i><a href="#">Marzo 2015</a></li>
    <li><i class="fa fa-angle-double-right"></i> <a href="#">Febrero 2015</a></li>
    <li><i class="fa fa-angle-double-right"></i><a href="#">Enero 2015</a></li>
    <li><i class="fa fa-angle-double-right"></i><a href="#">Diciembre 2014</a></li>
    <li><i class="fa fa-angle-double-right"></i><a href="#">Noviembre 2014</a></li>
  </ul>

</div>
