<%= render partial: "/posts/page_header" %>
<div id="en-content">
        <div class="container">

            <div id="blogposts" class="row">
                <!-- Blog Posts Content -->
                <div class="col-md-8">

                    <div class="single-post"> <!-- Blog Post/News #1 -->
                        <div class="featured-img">
                            <img src="http://placehold.it/800x500" alt="..." class="img-responsive">
                        </div>
                        <h3>Map Out And Show Appealing Business Design Architecture</h3>
                        <p class="meta">
                            <span class="meta-date"><i class="fa fa-calendar"></i> March 25, 2015</span>
                            <span class="meta-tags"><i class="fa fa-tags"></i> <a href="#">Architecture</a></span>
                            <span class="meta-comments"><i class="fa fa-comments"></i> <a href="">20 Comments</a></span>
                        </p>
                        <hr>
                        <p class="lead">So you want to put up a business? Before you proceed, where do the funds come from? Would you take out a loan? Do you have the sufficient funds to settle all potential obligations and expenses in setting up your dream company?</p>

                        <p> In short, money is important in putting up your business and seeing to it that it operates smoothly from day one onwards.</p>

                        <p>This is a reality most entrepreneurs and organizational bigwigs would certainly want to consider before they even entertain the thought of starting their business. A business does have the usual research and development proceedings which include preliminary research and analysis that point towards how a business can operate efficiently.</p>

                        <h4>Choosing the Best Constructor</h4>

                        <p>However, before all of these factors come into place, there is a matter of trying to be realistic. It is only normal to aim for high profit-margins. The initial capital lay out and investments placed into the whole business is another. The starting capital of a business may not be that flexible at times since it is only normal to see some partners and investors who would hesitate to go all out and finance the entire business with a green light to operate.</p>

                        <p>Good businessmen today look at the cash flow and the financial statement reports on a periodical basis. Depending on the agreed reporting period, usually financial reports should be submitted from monthly to quarterly so that the first years of opening a business can more or less narrate how everything is going and to see where the money is truly coming and going. This way, they can have an idea on whether they had made a good investment or not.</p>

                        <blockquote>Technically, initial operations are put into soft-openings meaning that the potential of the business is not entirely in full sway. The purpose of this is to gain rapport and eventually determine what areas need to be improved before it goes into full swing.</blockquote>

                        <h4>Starting Your Project Right</h4>

                         <p>Hence, money is indeed a critical aspect for opening businesses. It is a life stream of most organizations which if not monitored closely may end up closing or encounter recurring losses, something that is perhaps any investorís nightmare.</p>

                        <div class="clearfix"></div>
                        <br>

                      </div>
                </div> <!-- End Blog Posts Content -->

                <!-- Sidebar -->
                <div class="col-md-4">
                    <div class="sidebar">

                        <div class="sidebar-widget search">
                            <div class="widget-title text-left">
                                <h4>Search Blog</h4>
                                <hr>
                            </div>

                            <form role="search">
                                <div class="input-group form-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default noradius" type="button"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </form>

                        </div>

                        <div class="sidebar-widget recent-posts">
                            <div class="widget-title text-left">
                                <h4>Recent Posts</h4>
                                <hr>
                            </div>

                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                      <img class="media-object" alt="74x64" src="http://placehold.it/64x74">
                                    </a>
                                  </div>
                                  <div class="media-body">
                                    <a href="#"><h5>Map Out And Show Appealing Business Design Architecture</h5></a>
                                    <small>
                                        <span class="meta-date"><i class="fa fa-calendar"></i> 30 mins ago</span>
                                        <span class="meta-comments"><i class="fa fa-comments"></i> <a href="#">2 comments</a></span>
                                    </small>
                                  </div>
                            </div>

                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                      <img class="media-object" alt="74x64" src="http://placehold.it/64x74">
                                    </a>
                                  </div>
                                  <div class="media-body">
                                    <a href="#"><h5>Construction Going Green - Green Architecture</h5></a>
                                    <small>
                                        <span class="meta-date"><i class="fa fa-calendar"></i> 1 day ago</span>
                                        <span class="meta-comments"><i class="fa fa-comments"></i> <a href="#">21 comments</a></span>
                                    </small>
                                  </div>
                            </div>

                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                      <img class="media-object" alt="74x64" src="http://placehold.it/64x74">
                                    </a>
                                  </div>
                                  <div class="media-body">
                                    <a href="#"><h5>Map Out And Show Appealing Business Design Architecture</h5></a>
                                    <small>
                                        <span class="meta-date"><i class="fa fa-calendar"></i> 6 days ago</span>
                                        <span class="meta-comments"><i class="fa fa-comments"></i> <a href="#">356 comments</a></span>
                                    </small>
                                  </div>
                            </div>

                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                      <img class="media-object" alt="74x64" src="http://placehold.it/64x74">
                                    </a>
                                  </div>
                                  <div class="media-body">
                                    <a href="#"><h5>Construction Going Green - Green Architecture</h5></a>
                                    <small>
                                        <span class="meta-date"><i class="fa fa-calendar"></i> 1 week ago</span>
                                        <span class="meta-comments"><i class="fa fa-comments"></i> <a href="#">427 comments</a></span>
                                    </small>
                                  </div>
                            </div>

                        </div>

                        <div class="sidebar-widget categories">
                            <div class="widget-title text-left">
                                <h4>Categories</h4>
                                <hr>
                            </div>

                            <ul class="list-unstyled list-block">
                                <li><i class="fa fa-angle-double-right"></i><a href="#">Civil and Architecture (3)</a></li>
                                <li><i class="fa fa-angle-double-right"></i> <a href="#">Mechanical Engineering (12)</a></li>
                                <li><i class="fa fa-angle-double-right"></i><a href="#">Industrial Engineering (5)</a></li>
                                <li><i class="fa fa-angle-double-right"></i><a href="#">Electrical and Electronics (1)</a></li>
                                <li><i class="fa fa-angle-double-right"></i><a href="#">Communications Engineering (6)</a></li>
                                <li><i class="fa fa-angle-double-right"></i><a href="#">Constructions (9)</a></li>
                            </ul>

                        </div>

                        <div class="sidebar-widget archives">
                            <div class="widget-title text-left">
                                <h4>Archives</h4>
                                <hr>
                            </div>

                            <ul class="list-unstyled list-block">
                                <li><i class="fa fa-angle-double-right"></i><a href="#">March 2015</a></li>
                                <li><i class="fa fa-angle-double-right"></i> <a href="#">February 2015</a></li>
                                <li><i class="fa fa-angle-double-right"></i><a href="#">January 2015</a></li>
                                <li><i class="fa fa-angle-double-right"></i><a href="#">December 2014</a></li>
                                <li><i class="fa fa-angle-double-right"></i><a href="#">November 2014</a></li>
                            </ul>

                        </div>




                    </div>
                </div><!-- End Sidebar -->

            </div>

        </div>
    </div>
