<div class="page-header clearfix">
<div class="title">
	<h1>Editando Proyectos</h1>
</div>
<hr />
<%= render :partial => 'super_admin/template/form_errors', :object => @project %>

 <%= simple_form_for @project, :url => url_for(:controller => 'super_admin/projects', :action => 'update'), :method => 'put', :html => { :role => "form" }  do |f| %>
	<%= render :partial => "form", :object => @project, :locals => {:f => f} %>
<% end %>
