<div class="banner clearfix">

                <!-- slideshow start -->
                <!-- ================ -->
                <div class="slideshow">
                    
                    <!-- slider revolution start -->
                    <!-- ================ -->
                    <div class="slider-banner-container">
                        <div class="slider-banner-fullwidth-big-height">
                            <ul class="slides">
                                <!-- slide 1 start -->
                                <!-- ================ -->
                                <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Obtén un descuento del 50%">
                                
                                <!-- main image -->
                                <%= image_tag 'shop-slide-1.jpg', :alt =>"slidebg1", :data =>{"bgfit" => "cover", "bgposition" => "center top", "bgrepeat" => "no-repeat"} %>                              
                                
                                <!-- Transparent Background -->
                                <div class="tp-caption dark-translucent-bg"
                                    data-x="center"
                                    data-y="bottom"
                                    data-speed="600"
                                    data-start="0">
                                </div>

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption sfb fadeout large_white"
                                    data-x="left"
                                    data-y="180"
                                    data-speed="500"
                                    data-start="1000"
                                    data-easing="easeOutQuad">Obtén hasta un <span class="text-default">50%</span> DE DESCUENTO<br> Nueva generación de Bicicletas
                                </div>  

                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption sfb fadeout large_white tp-resizeme hidden-xs"
                                    data-x="left"
                                    data-y="300"
                                    data-speed="500"
                                    data-start="1300"
                                    data-easing="easeOutQuad"><div class="separator-2 light"></div>
                                </div>  

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption sfb fadeout medium_white hidden-xs"
                                    data-x="left"
                                    data-y="320"
                                    data-speed="500"
                                    data-start="1300"
                                    data-easing="easeOutQuad"
                                    data-endspeed="600">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Nesciunt, maiores, aliquid. Repellat eum numquam aliquid culpa offici, <br> tenetur fugiat dolorum sapiente eligendi...
                                </div>

                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption sfb fadeout small_white text-center"
                                    data-x="left"
                                    data-y="430"
                                    data-speed="500"
                                    data-start="1600"
                                    data-easing="easeOutQuad"
                                    data-endspeed="600"><a href="#" class="btn btn-default btn-animated">Saber más <i class="fa fa-arrow-right"></i></a>
                                </div>

                                </li>
                                <!-- slide 1 end -->

                                <!-- slide 2 start -->
                                <!-- ================ -->
                                <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Novedades">
                                
                                <!-- main image -->
                                <%= image_tag 'shop-slide-2', :alt =>"slidebg1", :data =>{"bgfit" => "cover", "bgposition" => "center top", "bgrepeat" => "no-repeat"} %>
                                
                                
                                <!-- Transparent Background -->
                                <div class="tp-caption dark-translucent-bg"
                                    data-x="center"
                                    data-y="bottom"
                                    data-speed="600"
                                    data-start="0">
                                </div>

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption sfb fadeout text-right large_white"
                                    data-x="right"
                                    data-y="180"
                                    data-speed="500"
                                    data-start="1000"
                                    data-easing="easeOutQuad"><span class="text-default"></span> Novedades<br> No te las pierdas
                                </div>  

                                <!-- LAYER NR. 2 -->
                                <div class="tp-caption sfb fadeout large_white tp-resizeme hidden-xs"
                                    data-x="right"
                                    data-y="300"
                                    data-speed="500"
                                    data-start="1300"
                                    data-easing="easeOutQuad"><div class="separator-3 light"></div>
                                </div>  

                                <!-- LAYER NR. 3 -->
                                <div class="tp-caption sfb fadeout medium_white text-right hidden-xs"
                                    data-x="right"
                                    data-y="320"
                                    data-speed="500"
                                    data-start="1300"
                                    data-easing="easeOutQuad"
                                    data-endspeed="600">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Nesciunt, maiores, aliquid. Repellat eum numquam aliquid culpa offici, <br> tenetur fugiat dolorum sapiente eligendi...
                                </div>

                                <!-- LAYER NR. 4 -->
                                <div class="tp-caption sfb fadeout small_white text-right text-center"
                                    data-x="right"
                                    data-y="430"
                                    data-speed="500"
                                    data-start="1600"
                                    data-easing="easeOutQuad"
                                    data-endspeed="600"><a href="#" class="btn btn-default btn-animated">Descúbrelas <i class="fa fa-arrow-right"></i></a>
                                </div>
                                </li>
                                <!-- slide 2 end -->
                            </ul>
                            <div class="tp-bannertimer"></div>
                        </div>
                    </div>
                    <!-- slider revolution end -->

                </div>
                <!-- slideshow end -->

            </div>
            <!-- banner end -->
            
            <div id="page-start"></div>
            <section class="section light-gray-bg clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- pills start -->
                            <!-- ================ -->
                            <!-- Nav tabs -->
                            <!--<ul class="nav nav-pills" role="tablist">
                                <li class="active"><a href="#pill-1" role="tab" data-toggle="tab" title="Latest Arrivals"><i class="icon-star"></i> Latest Arrivals</a></li>
                                <li><a href="#pill-2" role="tab" data-toggle="tab" title="Featured"><i class="icon-heart"></i> Featured</a></li>
                                <li><a href="#pill-3" role="tab" data-toggle="tab" title="Top Sellers"><i class=" icon-up-1"></i> Top Sellers</a></li>
                            </ul>-->
                            <!-- Tab panes -->
                            <h1 class="margin-down">Nuestras categorías de productos</h1>
                            <div class="tab-content clear-style">
                                <div class="tab-pane active" id="pill-1">
                                    <div class="row masonry-grid-fitrows grid-space-10">
                                        <% @categor.each do |categoria| %>
                                            <%= render partial: "/modules/list/categoria", object: categoria %>
                                        <% end %>                                      
                                    </div>
                                </div>                                
                            </div>
                            <!-- pills end -->
                        </div>
                    </div>
                </div>
            </section>