<!-- Page Header
========================-->

<div id="en-header">
    <div class="container">
        <h2 class="pull-left"> <%= link_to "Productos", products_path %></h2>
        <ol class="breadcrumb pull-right">
          <%= render_breadcrumbs :tag => :li, :separator => "" %>
        </ol>
    </div>
</div>
